.profiler{
  min-height: 100vh;
}
#sidenav{
  border-radius: 0;
}
.sidebar{
  height: 100vh;
}
main{
  padding: 3vh;
}
#user-data{
  margin-bottom:2vh;
}
/***#user-profile-holder{
  height: 20vh;
}**/
#bio{
  border: solid thin gainsboro;
  border-radius: 4vh;
}
.holder{
  padding: 3vh 0 0 0;
}
.pending, .websites{
    display:none;
}
#error-card{
  min-height: 40vh;
  padding-top: 15vh;
}
.requested-articles{
  padding-top: 2vh;
}
.anonymous-form{
  float: none;
  margin: 0 auto;
}
#header-card{
  display: none;
}
@media (max-width: 768px){
  #sidenav{
    position: absolute;
    z-index: 10;
    border-radius: 0;
  }
  #header-card{
    display: block;
  }
  #main-body{
    z-index: 1;
  }
  
}