{% extends 'base.html' %}
{% block extra_head %}
{% block js-script %}
{% endblock %}
<!--<link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/webdev-d38d8.appspot.com/static/myprofile.css">-->
<link rel="stylesheet" type="text/css" href="../static/myprofile.css">
{% endblock %}
{% block navigation %}
<ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link disabled" href="#" >Welcome {{ user.username }}</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-outline-primary" href="#"><i class="fa fa-bell"></i> Notifications</a>
    </li>
  {% endif %}
  {% if not user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/pricing">Pricing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/articles">Order Content</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/web">Order Website</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
  </li>
  {% endif %}
</ul>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row profiler">
    {% if user.is_authenticated %}
    <div class="card" id="sidenav">
      <div class="card-header" id="header-card">
        <button type="button" class="close float-right" id="close-btn"  aria-label="Close">
          <span  aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a class="nav-link" href="/myprofile"><i class="fa fa-home fa-2x fa-fw link-icons"></i>Home</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="/edit_profile"> <i class="fa fa-user fa-2x fa-fw link-icons"></i>Edit Profile</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="/mywallet"><i class="fa fa-suitcase fa-2x fa-fw link-icons"></i>My Wallet</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="/articles"><i class="fa fa-file-text fa-2x fa-fw link-icons"></i>Get Article Written</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="/web"><i class="fa fa-code fa-2x fa-fw link-icons"></i>Order a Website</a>
        </li>
        <li class="list-group-item">
          <a  class="nav-link" href="/password"><i class="fa fa-wrench fa-2x fa-fw link-icons"></i>Change Password</a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" href="#"> <i class="fa fa-question-circle fa-2x fa-fw link-icons"></i>Help</a>
        </li>
        <li class="list-group-item">
          <a class="btn btn-outline-info form-control" href="/logout"> <i class="fa fa-sign-out"> Sign Out </i></a>
        </li>
      </ul>
    </div>
    <main role="main" class="col-sm-9" id="main-body">
        <nav class="navbar navbar-light bg-light" id="inner-nav">
            <button class="btn btn-outline-primary" id="navigate">
                <span class="fa fa-angle-double-right "></span>
            </button>
          </nav>
      {% endif %}
      {% if not user.is_authenticated %}
      <main role="main" class="col-sm-9 anonymous-form" id="main-body">
        {% endif %}
        {% block user-info %}
        {% endblock %}
      </main>
    </div>
  </div>
  {% endblock %}
  {% block scripts %}
  <script  type="text/javascript" src="../static/js/base-profile.js"></script>
  {% endblock %}
