{% extends 'base.html' %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="../static/myprofile.css">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row profiler">
      <nav class="col-sm-4 col-md-3 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/myProfile"><i class="fa fa-home fa-2x fa-fw link-icons"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edit_profile"> <i class="fa fa-user fa-2x fa-fw link-icons"></i>Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mywallet"><i class="fa fa-suitcase fa-2x fa-fw link-icons"></i>My Wallet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articles"><i class="fa fa-file-text fa-2x fa-fw link-icons"></i>Get Article Written</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/web"><i class="fa fa-code fa-2x fa-fw link-icons"></i>Order a Website</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/password"><i class="fa fa-wrench fa-2x fa-fw link-icons"></i>Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <i class="fa fa-question-circle fa-2x fa-fw link-icons"></i>Help</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary form-control" href="/logout"> <i class="fa fa-sign-out"> Sign Out </i></a>
          </li>
        </ul>
      </nav>
      <main role="main" class="col-sm-8 ml-sm-auto col-md-9 pt-3">
        <section class="row">
          <div class="col-lg-4">
            {% if user.profile.profile_picture %}
                <img class="img-rounded" src="{{ user.profile.profile_picture.url }}">
            {% endif %}
            {% if not user.profile.profile_picture %}
                <img class="img-rounded" src="../static/images/default.png">
            {% endif %}
          </div>
          <div class="col-lg-8">
            {% if user.is_authenticated %}
            <h5>{{ user.first_name}} {{ user.last_name }}</h5>
          <h5>{{ user.email }}</h5>
          <h5>{{ user.profile.country }}</h5>
          <button type="button" class="btn btn-success">Add Bio</button>
          <button type="button" class="btn btn-primary">Update Profile</button>
          {% endif %}
        </div>
        </section>
        <section class="row">
          <div class="col-lg-12 well">
              <ul class="nav nav-tabs">
                  <li class="active mytab" id="my-articles"><a>My Articles</a></li>
                  <li class="mytab" id="pending"><a>Pending Articles</a></li>
                  <li class="mytab" id="done"><a>Web Jobs</a></li>
              </ul>

        </div>
      </section>
    </main>
  </div>
</div>
{% endblock %}
