{% extends 'base-profile.html' %}
{% block user-info %}
<section class="row" id="user-data">
  <div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3" id="user-profile-holder">
            {% if user.profile.profile_picture %}
                <img class="img-fluid rounded" src="{{ user.profile.profile_picture.url }}">
            {% endif %}
            {% if not user.profile.profile_picture %}
                <img class="img-fluid rounded" src="https://storage.googleapis.com/webdev-d38d8.appspot.com/static/images/default.png">
            {% endif %}
          </div>
          <div class="col-lg-9">
            {% if user.is_authenticated %}
            <h5>Name: {{ user.first_name}} {{ user.last_name }}</h5>
          <h5>Email: {{ user.email }}</h5>
          {% if user.profile.country %}
          <h5>Country: {{ user.profile.country }}</h5>
          {%endif%}
          {% if user.profile.bio %}
          <p class="col-lg-5 rounded" id="bio">{{user.profile.bio}}</p>
          {% endif %}
          {% endif %}
        </div>
        </div>
        </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item mytab" id="my-articles">
            <a class="nav-link active" href="#" >My Articles</a>
          </li>
          <li class="nav-item mytab" id="pending">
            <a class="nav-link" href="#" >Pending Articles</a>
          </li>
          <li class="nav-item mytab" id="websites">
            <a class="nav-link" href="#" >Web Jobs</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
              {% if my_articles %}
              <div class="my-articles">
              <div class="row" id="all-articles-holder">
                {% for article in my_articles %}
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-header">
                      {{ article.title}}
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{article.description}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              </div>
              <div class="pending">
              <div class="row" id="pending-articles-holder">
                {% for article in my_articles %}
                {% if article.is_done == 0 %}
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-header">
                      {{ article.title}}
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{article.description}}</p>
                    </div>
                  </div>
                  </div>
              {% endif %}
              {% endfor %}
            </div>
            </div>
            {% endif %}

            {% if not my_articles  %}
            <div class="my-articles">
            <div class="row card-deck" id="error-requests-holder">
                <div class="card text-center " >
                    <div class="card-body" id="error-card">
                        <p class="card-text"><b>No requests could be found!!</b></p>
                      </div>
                </div>
            </div>
            </div>
            {% endif %}

            {% if my_web_requests %}   
            <div class="websites">
            <div class="row" id="web-requests-holder">
              {% for web in my_web_requests %}
                <div class="col-lg-4">
                  <div class="card ">
                    <div class="card-header">
                      {{ web.title }}
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{web.additional_instructions}}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            </div>
            {% endif %}
            {% if not my_web_requests %}
            <div class="websites">
            <div class="row card-deck" id="error-requests-holder">
                <div class="card text-center " >
                    <div class="card-body" id="error-card">
                        <p class="card-text"><b>No requests could be found!!</b></p>
                      </div>
                </div>
            </div>
            </div>
           {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}