{% extends 'base-profile.html' %}
{% block js-script %}
<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
{% endblock %}
{% block user-info %}
<form id="checkout" method="post" action="/mywallet"></form>
<div id="payment-form"></div>
<button id="submit-button" class="btn btn-primary">Request payment method</button>
</form>
<div class="col-lg-8">
    <div id="paypal-button"></div>
  <p>Current Balance: ${{user.profile.Balance}}</p>
  <form class="form-inline" method="post" action="/mywallet" autocomplete="off">
      {% csrf_token %}    
      <div class="form-group  mx-sm-2">
          {{ add_amount.Client_Token }}
          <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">$</span>
        {{ add_amount.Amount }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Amount</button>
  </form>
</div>
<div class="col-lg-9 table-holder">
    {% if me_articles %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
            {% for article in me_articles %}
            <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.article_cost }}</td>
          </tr>
            {% endfor %}
          <tr>
            <td colspan="2"><b>Total</b></td>
            <td>${{ sum_total }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      {% if not me_articles %}
      <div class="jumbotron">
          <h4 class="display-4">Hello, {{user.username}}</h4>
          <p class="lead">You Currently do not have any pending payments.
            Once you have posted any requests, your wallet status can be reviewed from here.</p>
        </div>
      {% endif %}
</div>
{% endblock %}
<script>
  braintree.setup({{clientToken}}, 'custom', {
  paypal: {
    container: 'payment-form',
    singleUse: true, // Required
    amount: 10.00, // Required
    currency: 'USD', // Required
    locale: 'en_US',
    enableShippingAddress: true,
    shippingAddressOverride: {
      recipientName: 'Scruff McGruff',
      streetAddress: '1234 Main St.',
      extendedAddress: 'Unit 1',
      locality: 'Chicago',
      countryCodeAlpha2: 'US',
      postalCode: '60652',
      region: 'IL',
      phone: '123.456.7890',
      editable: false
    }
  },
  onPaymentMethodReceived: function (obj) {
    doSomethingWithTheNonce(obj.nonce);
  }
});
</script>