{% extends 'base-profile.html' %}
{% block js-script %}
<script src="https://js.braintreegateway.com/js/braintree-2.32.1.min.js"></script>
{% endblock %}
{% block user-info %}
<div class="col-lg-8">
<p>Payments are safely processed with <a href='https://www.braintreepayments.com/' target='_blank'>Braintree</a>.</p>
<p>Current Balance: ${{user.profile.Balance}}</p>
{{ add_amount.Client_Token }}
<form class="form-inline" method="post" action="/mywallet" autocomplete="off">
   {% csrf_token %}
   <div class="form-group  mx-sm-2" id="payment-form">
      <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">$</span>
          {{ add_amount.Amount }}
        </div>
   </div>
   <button type="submit" class="btn btn-primary">Add Amount</button>
</form>
</div>
<div class="col-lg-9 table-holder">
    {% if me_articles %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
            {% for article in me_articles %}
            <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.article_cost }}</td>
          </tr>
            {% endfor %}
          <tr>
            <td colspan="2"><b>Total</b></td>
            <td>${{ sum_total }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      {% if not me_articles %}
      <div class="jumbotron">
          <h4 class="display-4">Hello, {{user.username}}</h4>
          <p class="lead">You Currently do not have any pending payments.
            Once you have posted any requests, your wallet status can be reviewed from here.</p>
        </div>
      {% endif %}
</div>
<script>
    var clientToken = {{client_token}};
    braintree.setup(clientToken, "dropin", {
      container: "payment-form"
       });
       alert(clientToken);
</script>
{% endblock %}
