{% extends 'base.html' %}
{% block content %}
<div class="container article-price-holder">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                <div class="card jumbo-card">
                    <div class="jumbotron jumbotron-fluid" id="jumbo">
                        <div class="container">
                            <h1 class="display-4">Content creation rates</h1>
                            <p class="lead">Get flexible and affordable rates for all your content needs. Be it e-books, blog content,
                                 article writing and re-writes, press releases or kindle books, we have got you covered.</p>
                            <hr class="my-4">
                            <p>Click the button below and join us today.</p>
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="card">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Words</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>150</td>
                                <td>$4.80</td>
                            </tr>
                            <tr>
                                <td>400</td>
                                <td>$6.40</td>
                            </tr>
                            <tr>
                                <td>500</td>
                                <td>$8.00</td>
                            </tr>
                            <tr>
                                <td>700</td>
                                <td>$11.20</td>
                            </tr>
                            <tr>
                                <td>1000</td>
                                <td>$16.00</td>
                            </tr>
                            <tr>
                                <td>1500</td>
                                <td>$24.00</td>
                            </tr>
                            <tr>
                                <td>2000</td>
                                <td>$32.00</td>
                            </tr>
                            <tr>
                                <td>2500</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>3000</td>
                                <td>$48.00</td>
                            </tr>
                            <tr>
                                <td>3500</td>
                                <td>$56.00</td>
                            </tr>
                            <tr>
                                <td>4000</td>
                                <td>$64.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col-lg-12" id="web-pricing-holder">
            <div class="row card-deck">
                <div class="card">
                    <div class="jumbotron jumbotron-fluid" id="jumbo">
                        <div class="container">
                            <h1 class="display-4">Web design and development</h1>
                            <p class="lead">Kindly fill out the form provided on the side giving a description of the kind of website 
                                required and the key requirements to be satisfied
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
