{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col-lg-12 article-price-holder">
          <div class="col-lg-6 float-right">
              <div class="card">
                        <table class="table">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Words</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>150</td>
                                    <td>$4.80</td>
                                </tr>
                                <tr>
                                    <td>400</td>
                                    <td>$6.40</td>
                                </tr>
                                <tr>
                                    <td>500</td>
                                    <td>$8.00</td>
                                </tr>
                                <tr>
                                    <td>700</td>
                                    <td>$11.20</td>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>$16.00</td>
                                </tr>
                                <tr>
                                    <td>1500</td>
                                    <td>$24.00</td>
                                </tr>
                                <tr>
                                    <td>2000</td>
                                    <td>$32.00</td>
                                </tr>
                                <tr>
                                    <td>2500</td>
                                    <td>$40.00</td>
                                </tr>
                                <tr>
                                    <td>3000</td>
                                    <td>$48.00</td>
                                </tr>
                                <tr>
                                    <td>3500</td>
                                    <td>$56.00</td>
                                </tr>
                                <tr>
                                    <td>4000</td>
                                    <td>$64.00</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
